# print 기초
화면에 Hello World 문자열을 출력하세요.

In [3]:
print("Hello World")

Hello World

# print 기초
화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [4]:
print('Mary\'s cosmetics')

Mary's cosmetics

# print 기초
화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

신씨가 소리질렀다. "도둑이야".

In [5]:
print('신씨가 소리질렀다. \"도둑이야\".')

신씨가 소리질렀다. "도둑이야".

# print 기초
화면에 C:\Windows를 출력하세요.

In [14]:
print('C:\Windows')

C:\Windows

# print 탭과 줄바꿈
다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

print("안녕하세요.\n만나서\t\t반갑습니다.")

In [16]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n = 문장 줄바꿈
# \t 문장 내 탭

안녕하세요.
만나서		반갑습니다.

# print 여러 데이터 출력
print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

print ("오늘은", "일요일")

In [17]:
print ("오늘은", "일요일")

오늘은 일요일

# print 기초
print() 함수를 사용하여 다음과 같이 출력하세요.

naver;kakao;sk;samsung

In [19]:
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

# print 기초
print() 함수를 사용하여 다음과 같이 출력하세요.

naver/kakao/sk/samsung

In [20]:
print('naver/kakao/sk/samsung')

naver/kakao/sk/samsung

# print 줄바꿈
다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first");print("second")

In [37]:
print("first", end="");print("second")
# end = "" 이거 처음봐요....

firstsecond

# 연산 결과 출력
5/3의 결과를 화면에 출력하세요.

In [38]:
5/3

1.6666666666666667

# 011 변수 사용하기
삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [2]:
삼성전자 = 50000
총평가금액 = 삼성전자*10
print(총평가금액)

500000

# 012 변수 사용하기
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

In [3]:
시가총액 = 29800000000000
현재가 = 50000
PER = 15.79

In [6]:
# 문제 정답
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

# 문자열 출력
변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s = "hello"

t = "python"

두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예:
hello! python

In [27]:
s = "hello"
t = "python"

hello

In [28]:
#문제 정답
s = "hello"
t = "python"
print(s+"!", t)

hello! python

# 파이썬을 이용한 값 계산
아래 코드의 실행 결과를 예상해보세요.

In [29]:
2 + 2 * 3 
# 8..?

8

# type 함수
type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

a = 128

print (type(a))

<class 'int'>

아래 변수에 바인딩된 값의 타입을 판별해보세요.

a = "132"

In [31]:
a ="132"
print(a, type(a))

132 <class 'str'>

# 문자열을 정수로 변환
문자열 '720'를 정수형으로 변환해보세요.

In [36]:
a = '720'
print(type(a))
print(int(a))
print(type(int(a)))

<class 'str'>
720
<class 'int'>

# 정수를 문자열 100으로 변환
정수 100을 문자열 '100'으로 변환해보세요.

In [37]:
num = 100
print(num, type(num))
print(str(num), type(str(num)))

100 <class 'int'>
100 <class 'str'>

# 문자열을 실수로 변환
문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [38]:
a = "15.79"
print(a, type(a))
print(float(a), type(float(a)))

15.79 <class 'str'>
15.79 <class 'float'>

# 문자열을 정수로 변환
year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

In [39]:
year = "2020"
a = int(year)
print(a, a+1, a+2, a+3)

2020 2021 2022 2023

# 파이썬 계산
에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [40]:
에어컨 = 48584
총금액 = 에어컨*36
print(총금액)

1749024

# 문자열 인덱싱
letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

In [42]:
letters = 'python'
print(letters[0], letters[2])

p t

# 문자열 슬라이싱
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

In [43]:
license_plate = "24가 2210"
print(license_plate[4:])

2210

# 문자열 인덱싱
아래의 문자열에서 '홀' 만 출력하세요.

In [45]:
string = "홀짝홀짝홀짝"
print(string[0]+string[2]+string[4])

홀홀홀

In [47]:
# 문제 정답
# 슬라이싱할 때 `시작인덱스:끝인덱스:오프셋`을 지정할 수 있습니다.
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

# 문자열 슬라이싱
문자열을 거꾸로 뒤집어 출력하세요.

In [51]:
string = "PYTHON"
print(string[::-1])

NOHTYP

# 문자열 치환
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

In [55]:
phone_number = "010-1111-2222"
a = phone_number.replace("-", " ")
print(a)

010 1111 2222

# 문자열 다루기
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

In [58]:
b = phone_number.replace("-", "")
print(b)

01011112222

# 문자열 다루기
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

In [62]:
url = "http://sharebook.kr"
print(url[-2:])

kr

In [63]:
# 문제 정답
url_split = url.split('.')
print(url_split[-1])

kr

# 문자열은 immutable
아래 코드의 실행 결과를 예상해보세요.

In [64]:
lang = 'python'
lang[0] = 'P'
print(lang)
# Python X -> 문자열은 수정할 수가 없습니다!

TypeError: 'str' object does not support item assignment

# replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

In [66]:
string = 'abcdfe2a354a32a'
string.replace('a', 'A')
print(string.replace('a', 'A'))

Abcdfe2A354A32A

# replace 메서드
아래 코드의 실행 결과를 예상해보세요.

In [67]:
string = 'abcd'
string.replace('b', 'B')
print(string)
#aBcd

abcd

# 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.

In [68]:
a = "3"
b = "4"
print(a + b)
#34

34

# 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.

In [70]:
print("Hi" * 3)
#HiHiHi

HiHiHi

# 문자열 곱하기
화면에 '-'를 80개 출력하세요.

In [71]:
print('-'*80)

--------------------------------------------------------------------------------

# 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

In [87]:
t1 = 'python'
t2 = 'java'
# 실행 예: python java python java python java python java
t3 = (t1, t2)

In [88]:
# 문제 정답
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

# 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

In [89]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

In [94]:
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [95]:
# 문제 정답
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [96]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {0} 나이: {1}".format(name1, age1))
print("이름: {0} 나이: {1}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [97]:
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

In [99]:
상장주식수 = "5,969,782,550"
a = 상장주식수.replace(",", "")
print(int(a),type(int(a)))

5969782550 <class 'int'>

# 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.

In [102]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

# strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

In [104]:
data = "   삼성전자    "
print(data.strip())

삼성전자

# upper 메서드
다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

In [1]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

# lower 메서드
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

In [4]:
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

# capitalize 메서드
문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [7]:
a = 'hello'
a.capitalize()

'Hello'

# endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

In [10]:
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

# endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

In [15]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

# startswith 메서드
파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

In [18]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

# split 메서드
다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

In [20]:
a = "hello world"
a.split() #공백이 기본

['hello', 'world']

# split 메서드
다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

In [21]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

# split 메서드
다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

In [22]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

# rstrip 메서드
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

In [23]:
data = "039490     "
data.rstrip()

'039490'

# 리스트 생성
2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

In [29]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

# 리스트에 원소 추가
051의 movie_rank 리스트에 "배트맨"을 추가하라.

In [30]:
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

# movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [31]:
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

# movie_rank 리스트에서 '럭키'를 삭제하라.

In [33]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

# movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

In [36]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

# lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

In [38]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

# 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

In [43]:
nums = [1, 2, 3, 4, 5, 6, 7]
a = max(nums)
b = min(nums)

print('max:', a)
print('min:', b)

max: 7
min: 1

# 다음 리스트의 합을 출력하라.

In [45]:
nums = [1, 2, 3, 4, 5]
sum(nums)

15

# 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

In [47]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

# 다음 리스트의 평균을 출력하라.

In [48]:
nums = [1, 2, 3, 4, 5]
평균 = sum(nums)/len(nums)
print(평균)

3.0

# price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

In [49]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

# 슬라이싱을 사용해서 홀수만 출력하라.

In [53]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a = [nums[0], nums[2], nums[4], nums[6], nums[8]]
print(a)

[1, 3, 5, 7, 9]

In [55]:
# 문제 정답
print(nums[::2])

[1, 3, 5, 7, 9]

# 슬라이싱을 사용해서 짝수만 출력하라.

In [56]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

# 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

In [69]:
nums = [1, 2, 3, 4, 5]
nums[4::-1]

[5, 4, 3, 2, 1]

# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

In [70]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

# join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

In [85]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
a = " ".join(interest)
print(a)

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

# join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

In [72]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
a ="/".join(interest)
print(a)

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

# join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

In [84]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
a = "\n".join(interest)
print(a)

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

# 문자열 split 메서드
회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

In [89]:
string = "삼성전자/LG전자/Naver"
a= string.split("/")
interest = list(a)
print(interest)

['삼성전자', 'LG전자', 'Naver']

# 리스트 정렬
리스트에 있는 값을 오름차순으로 정렬하세요.

In [92]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

# my_variable 이름의 비어있는 튜플을 만들라.

In [94]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

In [95]:
movie_rank =('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

# 숫자 1 이 저장된 튜플을 생성하라.

In [99]:
a = (1, )
print(a, type(a))

(1,) <class 'tuple'>

# 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

In [102]:
t = (1, 2, 3)
t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
#t[0]은 리스트에서 요소를 추출하는 것으로 t는 튜플이기에 출력이 되지 않는다.
# 문제 정답-> tuple은 원소(element)의 값을 변경할 수 없습니다.

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1470753051.py, line 3)

# 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

In [103]:
t = 1, 2, 3, 4
#튜플..? 괄호 없이도 동작한다.

# 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

In [106]:
t = ('a', 'b', 'c')
t = list(t)
t[0]='A'
t = tuple(t)
print(t, type(t))

('A', 'b', 'c') <class 'tuple'>

In [107]:
#문제 정답
# 튜플은 변경할 수 없기에 그냥 새로 입력해버린다.
t = ('A', 'b', 'c')
print(t)

('A', 'b', 'c')

# 다음 튜플을 리스트로 변환하라.

In [108]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
print(interest, type(interest))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

# 다음 리스트를 튜플로 변경하라.

In [109]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest = tuple(interest)
print(interest, type(interest))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

# 튜플 언팩킹
다음 코드의 실행 결과를 예상하라.

In [110]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [ ]:
# 왜죠..? 튜플을 언패킹해서 변수에 값들을 각각 할당할 수 있습니다.라고 합니다.

# range 함수
1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

In [116]:
a = tuple(range(2,99,2))
print(a)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 별 표현식
기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

In [117]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *c = scores
print(a)
print(b)
print(c)

8.8
8.9
[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [119]:
#answer
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

In [120]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, _, *valid_score= scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

In [121]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

# 비어있는 딕셔너리
temp 이름의 비어있는 딕셔너리를 만들라.

In [122]:
temp = {}
print(type(temp))

<class 'dict'>

# 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

In [123]:
아이스크림 = {'메로나':1000, '폴라포':1200, '빵빠레':1800}
print(아이스크림, type(아이스크림))

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800} <class 'dict'>

# 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

In [124]:
아이스크림['죠스바'] = 1200
아이스크림['월드콘'] = 1500
print(아이스크림, type(아이스크림))

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500} <class 'dict'>

# 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

In [125]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print('메로나 가격:', ice['메로나'])

메로나 가격: 1000

# 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

In [126]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

# 다음 딕셔너리에서 메로나를 삭제하라.

In [127]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

# 다음 코드에서 에러가 발생한 원인을 설명하라.

In [129]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
#딕셔너리에 누가바 키가 없다.

KeyError: '누가바'

# 딕셔너리 생성
아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

In [130]:
inventory = {'메로나':[300, 20], '비비빅':[400, 3], '죠스바':[250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

# 딕셔너리 인덱싱
inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

In [131]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][0],'원')

300 원

# 딕셔너리 인덱싱
inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

In [133]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][1],'개')

20 개

# 딕셔너리 추가
inventory 딕셔너리에 아래 데이터를 추가하라.

In [134]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

# 딕셔너리 keys() 메서드
다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

In [137]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream.keys()

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'])

# 딕셔너리 values() 메서드
다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

In [138]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream.values()

dict_values([1200, 1200, 1800, 1500, 1000])

# 딕셔너리 values() 메서드
icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

In [143]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
a = list(icecream.values())
a1 = sum(a)
print(a1)

6700

# 딕셔너리 update 메서드
아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

In [140]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

# zip과 dict
아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

In [145]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

# zip과 dict
date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

In [148]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

In [1]:
# bool 타입

# 아래 코드의 출력 결과를 예상하라

In [2]:
print(3 == 5)
# False

False

# 아래 코드의 출력 결과를 예상하라

In [3]:
print(3 < 5)
#True

True

# 아래 코드의 결과를 예상하라.

In [4]:
x = 4
print(1 < x < 5)
#True

True

# 아래 코드의 결과를 예상하라.

In [5]:
print ((3 == 3) and (4 != 3))
#True

True

# 아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

In [7]:
print(3 => 4)
# <> 부등호 위치가 잘 못되어서 비교가 불가하다.
# 문제 정답 ; 지원하지 않는 연산자입니다.

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2362274794.py, line 1)

# 아래 코드의 출력 결과를 예상하라

In [8]:
if 4 < 3:
    print("Hello World")
# False 라..?
# 조건을 만족하지 않기 때문에 아무 결과도 출력되지 않습니다.

# 아래 코드의 출력 결과를 예상하라

In [9]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")
#Hi, there.

Hi, there.

# 아래 코드의 출력 결과를 예상하라

In [11]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")
# 기본 값이 참이기에 아래와 같이 1,2가 나오고 4는 if 절에 포함되어 있지 않기에 별개로 나온다.

1
2
4

# 아래 코드의 출력 결과를 예상하라

In [12]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

#3
#5

3
5

# 사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.

In [13]:
a = '안녕하세요'
print(a*2)

안녕하세요안녕하세요

In [14]:
#answer
user = input("입력:")
print(user * 2)

입력:안녕하세요
안녕하세요안녕하세요

# 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

In [17]:
user = int(input('숫자를 입력하세요: '))
print(user + 10)

숫자를 입력하세요: 30
40

# 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

In [27]:
for user in input():
    if int(user) % 2 == 0:
        print("짝수")
    else:
        print("홀수")

100
홀수
짝수
짝수

In [28]:
#answer
user = input("")
if int(user) % 2 == 0:
    print("짝수")
else:
    print("홀수")

30
짝수

# 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

In [30]:
user = input("")
if int(user) + 20 > 255:
    print(255)
else:
    print(int(user)+20)

250
255

# 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

In [33]:
user = input("")
if 0<=int(user) - 20<=255:
    print(int(user)-20)
elif int(user)-20 < 0:
    print(0)
elif int(user)-20 > 255:
    print(255)

300
255

# 사용자로부터 입력 받은 시간이 정각인지 판별하라.

In [37]:
user = input("현재시간:02:")
if user == '00':
    print('정각 입니다.')
else:
    print('정각이 아닙니다.')

현재시간:02:00
정각 입니다.

In [38]:
# 문제 정답
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 0210
정각이 아닙니다.

# 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

In [45]:
fruit = ["사과", "포도", "홍시"]
answer = input("좋아하는 과일은? ")
if answer in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? 사과
정답입니다.

# 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

In [46]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input("")
if user in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

Microsoft
투자 경고 종목입니다.

# 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

In [49]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
키 = input("제가 좋아하는 계절은:")
if 키 in fruit.keys():
    print("정답입니다.")
else:
    print("오답입니다.")

제가 좋아하는 계절은:가을
정답입니다.

# 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

In [52]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
값 = input("좋아하는 과일은?")
if 값 in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?수박
오답입니다.

# 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

In [55]:
user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

A
a

# 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

In [57]:
score = input("점수:")
if 0 <= int(score) <=20:
    print("grade is E")
elif 21 <= int(score) <=40:
    print("grade is D")
elif 41 <= int(score) <=60:
    print("grade is C")
elif 61 <= int(score) <=80:
    print("grade is B")
elif 81 <= int(score) <=100:
    print("grade is A")

점수:90
grade is A

# 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

In [4]:
#문제 정답
환율 = {"달러":1167, "엔":1.096, "유로":1268, "위안":171}
user = input("입력: ")
num, currency = user.split()
print(float(num)*환율[currency], "원")
#float는 머지

입력: 100 엔
109.60000000000001 원

# 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

In [13]:
a=input('number1: ')
b=input('number2: ')
c=input('number3: ')
d =[int(a), int(b), int(c)]
print(max(d))

number1: 20
number2: 1000
number3: 30
1000

# 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

In [18]:
user = input("휴대전화 번호 입력: ")
tel = {'011':'SKT', '016':'KT', '019':'LGU', '010':'알수없음'}
a = user[0:3]
print('당신은', tel[a], '사용자입니다.')

휴대전화 번호 입력: 011-345-1922
당신은 SKT 사용자입니다.

# 우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

In [24]:
지역 = {0:'강북구', 1:'강북구', 2:'강북구', 3:'도봉구', 4:'도봉구', 5:'도봉구', 6:'노원구', 7:'노원구', 8:'노원구', 9:'노원구'}
user = input('우편번호: ')
a = int(user[2])
print(지역[a])

우편번호: 01349
도봉구

# 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

In [27]:
user = input("주민등록번호: ")
sex = int(user[7])
if sex == 1:
    print('남자')
elif sex == 2:
    print('여자')

주민등록번호: 821010-2635210
여자

# 주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

In [29]:
user = input("주민등록번호: ")
area = user[8:10]
if area in ['00', '01', '02', '03', '04', '05', '06', '07', '08']:
    print('서울입니다.')
else:
    print('서울이 아닙니다.')

주민등록번호: 861010-1015210
서울입니다.

# 주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다. 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.

In [34]:
user = input("주민등록번호: ")
a = user.replace("-", "")
b = (int(a[0])*2 + int(a[1])*3 + int(a[2])*4 + int(a[3])*5 + int(a[4])*6 + int(a[5])*7 + int(a[6])*8 + int(a[7])*9 + int(a[8])*2 + int(a[9])*3 + int(a[10])*4 + int(a[11])*5)%11
c = 11 - b
if c == int(a[11]):
    print('유효한 주민등록번호입니다.')
else:
    print('유효하지 않은 주민등록번호입니다.')

주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

# 아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.

In [43]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
변동폭 = int(btc['max_price']) - int(btc['min_price'])
a = int(btc['opening_price']) + 변동폭
if a > int(btc['max_price']):
    print("상승장")
else:
    print("하락장")

상승장

# for문의 실행결과를 예측하라.

In [1]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
# 사과, 귤, 수박
# 리스트에 들어있는 문자열이 한 라인에 하나씩 출력됩니다.

사과
귤
수박

# for문의 실행결과를 예측하라.

In [2]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

#####
#####
#####

# 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

In [5]:
for 변수 in ["A", "B", "C"]:
  print(변수)

print("A")
print("B")
print("C")

A
B
C
A
B
C

# for문을 풀어서 동일한 동작을하는 코드를 작성하라.

In [6]:
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

# for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

In [7]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

print("변환:" ,"a")
print("변환:" ,"b")
print("변환:" ,"c")

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

# 다음 코드를 for문으로 작성하라.

In [8]:
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

10
20
30

In [9]:
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

# 다음 코드를 for문으로 작성하라.

In [10]:
print(10)
print(20)
print(30)

for i in [10,20,30]:
    print(i)

10
20
30
10
20
30

# 다음 코드를 for문으로 작성하라.

In [12]:
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

for i in [10,20,30]:
    print(i)
    print('-'*7)

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

# 다음 코드를 for문으로 작성하라.

In [13]:
print("++++")
print(10)
print(20)
print(30)

print("++++")
for i in [10,20,30]:
    print(i)

++++
10
20
30
++++
10
20
30

# 다음 코드를 for문으로 작성하라.

In [14]:
print("-------")
print("-------")
print("-------")
print("-------")

for i in [1,2,3,4]:
    print("-"*7)

-------
-------
-------
-------
-------
-------
-------
-------

# 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

In [15]:
리스트 = [100, 200, 300]

for i in 리스트:
    print(i+10)

110
210
310

# for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

In [17]:
리스트 = ["김밥", "라면", "튀김"]

for i in 리스트:
    print("오늘의 메뉴:", i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

# 리스트에 주식 종목이름이 저장돼 있다.

In [18]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 리스트:
    print(len(i))

6
4
4

# 리스트에는 동물이름이 문자열로 저장돼 있다.
동물 이름과 글자수를 다음과 같이 출력하라.

In [19]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

# 리스트에 동물 이름 저장돼 있다.
for문을 사용해서 동물 이름의 첫 글자만 출력하라.

In [20]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i[0])

d
c
p

# 리스트에는 세 개의 숫자가 바인딩돼 있다.
for문을 사용해서 다음과 같이 출력하라.

In [21]:
리스트 = [1, 2, 3]

for i in 리스트:
    print(3, "x", i)

3 x 1
3 x 2
3 x 3

# 리스트에는 세 개의 숫자가 바인딩돼 있다.
for문을 사용해서 다음과 같이 출력하라.

In [23]:
리스트 = [1, 2, 3]

for i in 리스트:
    print("3 x", i, '=', 3*int(i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

# 리스트에는 네 개의 문자열이 바인딩돼 있다.
for문을 사용해서 다음과 같이 출력하라.

In [24]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트:
    print(i)

가
나
다
라

In [25]:
#answer
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[1:]:
  print(변수)

나
다
라

# 리스트에는 네 개의 문자열이 바인딩돼 있다.
for문을 사용해서 다음과 같이 출력하라.

In [27]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트[0::2]:
    print(i)

가
다

# 리스트에는 네 개의 문자열이 바인딩돼 있다.
for문을 사용해서 다음과 같이 출력하라.

In [33]:
리스트 = ["가", "나", "다", "라"]

for i in 리스트[3::-1]:
    print(i)

라
다
나
가

# 리스트에는 네 개의 정수가 저장돼 있다.
for문을 사용해서 리스트의 음수를 출력하라.

In [34]:
리스트 = [3, -20, -3, 44]

for i in 리스트:
    if i<0:
        print(i)

-20
-3

# for문을 사용해서 3의 배수만을 출력하라.

In [35]:
리스트 = [3, 100, 23, 44]

for i in 리스트:
    if i%3 == 0:
        print(i)

3

# 리스트에서 20 보다 작은 3의 배수를 출력하라

In [38]:
리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
    if i < 20:
        result = i % 3
        if result == 0:
            print(i)

12
18

In [39]:
#answer
리스트 = [13, 21, 12, 14, 30, 18]
for 변수 in 리스트:
  if (변수 < 20) and (변수 % 3 == 0):
    print(변수)

12
18

# 리스트에서 세 글자 이상의 문자를 화면에 출력하라

In [40]:
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

# 리스트에서 대문자만 화면에 출력하라.

In [41]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper():
        print(i)

A
D

# 리스트에서 소문자만 화면에 출력하라.

In [42]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.islower():
        print(i)

b
c

# 이름의 첫 글자를 대문자로 변경해서 출력하라.

In [44]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i.capitalize())

Dog
Cat
Parrot

# 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

In [49]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
    print(i.split(".")[0])

hello
ex01
intro

# 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

In [50]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if i.split(".")[1] == "h":
        print(i)

intra.h
define.h

# 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

In [51]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if (i.split(".")[1] == "h") or (i.split(".")[1] == "c"):
        print(i)

intra.h
intra.c
define.h

# for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

In [54]:
for i in range(99):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98

# 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

In [55]:
for i in range(2002, 2050, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046

# 1부터 30까지의 숫자 중 3의 배수를 출력하라.

In [57]:
for i in range(1,30):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27

# 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

In [58]:
for i in range(99, 0 ,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [60]:
#answer
for i in range(100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

# for문을 사용해서 아래와 같이 출력하라.

In [67]:
import numpy

list = numpy.arange(0, 1, 0.1)
print(list)

[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9]

In [66]:
#answer
for num in range(10) :
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

# 구구단 3단을 출력하라.

In [69]:
for i in range(1,10):
    print("3 x", i, '=', i*3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

# 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

In [77]:
for i in range(1,10,2):
    print("3 x", i, '=', i*3)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [78]:
#answer
num = 3
for i in range(1, 10) :
    if i % 2 == 1 :
        print (num, "x", i, " = ", num * i)

3 x 1  =  3
3 x 3  =  9
3 x 5  =  15
3 x 7  =  21
3 x 9  =  27

# 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [84]:
result = 0
for i in range(1,11):
    result += i
print("합 :", result)

합 : 55

In [83]:
#answer
hab = 0
for i in range(1, 11):
    hab += i
print ("합 :", hab)

합 : 55

# 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [85]:
result = 0
for i in range(1,11,2):
    result += i
print("합 :", result)

합 : 25

# 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [86]:
a = 0

for i in range(1,11):
    result = i*(a+i)
print("합:", result)
#오답

합: 100

In [87]:
result = 1
for i in range(1, 11) :
    result *= i
print(result)

3628800

# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [91]:
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [92]:
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [93]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [95]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [97]:
price_list = [32100, 32150, 32000, 32500]
a = 90
for i in range(1, len(price_list)):
    print(a+i*10, price_list[i])

100 32150
110 32000
120 32500

In [98]:
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

# my_list를 아래와 같이 출력하라.

In [104]:
my_list = ["가", "나", "다", "라"]

for i in range(0,3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

# 리스트를 아래와 같이 출력하라.

In [105]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(2,len(my_list)):
    print(my_list[i-2], my_list[i-1], my_list[i])

가 나 다
나 다 라
다 라 마

# 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

In [119]:
my_list = ["가", "나", "다", "라"]

for i in range(len(my_list)-1, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [120]:
for i in range(len(my_list) - 1):
    print(my_list[len(my_list) - 1 - i], my_list[len(my_list) - 2 - i])

라 다
다 나
나 가

# 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

In [122]:
my_list = [100, 200, 400, 800]
a=0
for i in range(1, len(my_list)):
    a = my_list[i] - my_list[i-1]
    print(a)

100
200
400

# 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.
첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

In [124]:
my_list = [100, 200, 400, 800, 1000, 1300]
a=0
for i in range(2,len(my_list)):
    a = (my_list[i-2] + my_list[i-1] + my_list[i])/3
    print(float(a))

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

In [131]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
변동폭 = 0
volatility = []
for i in range(5):
    변동폭 = high_prices[i] - low_prices[i]
    volatility.append(변동폭)
print(volatility)

[50, 100, 30, 80, 0]

In [134]:
volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

# 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

In [1]:
apart = [['101호','102호'], ['201호','202호'], ['301호','302호']]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

# 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

In [2]:
stock = [[100, 200, 300], [80, 210, 330]]
시가, 종가 = stock
print(시가)
print(종가)

[100, 200, 300]
[80, 210, 330]

# 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

In [3]:
stock = {"시가":[100,200,300], "종가":[80,210,330]}
print(stock["시가"])
print(stock["종가"])

[100, 200, 300]
[80, 210, 330]

# 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

In [4]:
stock = {"10/10":[80,110,70.90], "10/11":[210,230,190,200]}

# 리스트에 저장된 데이터를 아래와 같이 출력하라.

In [14]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for a in i:
        print(a, '호')

101 호
102 호
201 호
202 호
301 호
302 호

# 리스트에 저장된 데이터를 아래와 같이 출력하라.

In [15]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

# 리스트에 저장된 데이터를 아래와 같이 출력하라.

In [18]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for a in apart[::-1]:
    for b in a[::-1]:
        print(b, "호")

302 호
301 호
202 호
201 호
102 호
101 호

# 리스트에 저장된 데이터를 아래와 같이 출력하라.

In [19]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for a in apart:
    for b in a:
        print(b, '호')
        print('-'*5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

# 리스트에 저장된 데이터를 아래와 같이 출력하라.

In [21]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for a in apart:
    for b in a:
        print(b, '호')
    print('-'*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

# 리스트에 저장된 데이터를 아래와 같이 출력하라.

In [23]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for a in apart:
    for b in a:
        print(b, '호')
print('-'*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

# data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.
수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

In [32]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for a in data:
    for b in a:
        print(b+float(b*0.014/100))

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

In [33]:
#answer
for line in data:
    for column in line:
        print(column * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

# 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

In [34]:
for line in data:
    for column in line:
        print(column * 1.00014)
    print('-'*4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

# 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

In [37]:
result=[]

for line in data:
    for column in line:
        result.append(column * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

# 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

In [41]:
result=[]
sub=[]

for line in data:
    for column in line:
        sub.append(column * 1.00014)
        
print(result)

KeyboardInterrupt:

In [44]:
#answer
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

In [50]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in range(1,4):
    print(ohlc[i][3])

100
190
310

# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력하라.

In [51]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in range(1,4):
    if ohlc[i][3] >150:
        print(ohlc[i][3])

190
310

# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

In [52]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in range(1,4):
    if ohlc[i][3]>=ohlc[i][0]:
        print(ohlc[i][3])

100
310

# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

In [55]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility=[]
for i in range(1,4):
    volatility.append(ohlc[i][1]-ohlc[i][2])
print(volatility)

[40, 30, 10]

# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.
종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.

In [56]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in range(1,4):
    if ohlc[i][3]>ohlc[i][0]:
        print(ohlc[i][1]-ohlc[i][2])

10

# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.
1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.

In [68]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
a=0
for row in ohlc[1:]:
    a += (row[3]-row[0])
print(a)

0

# "비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

In [84]:
def print_coin():
    print("비트코인")

# 201번에서 정의한 함수를 호출하라.

In [85]:
print_coin()

비트코인

# 201번에서 정의한 print_coin 함수를 100번호출하라.

In [76]:
print_coin()*100

'비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인비트코인'

In [86]:
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

# "비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라.

In [81]:
def print_coins():
    return "비트코인"*100

In [82]:
#answer
def print_coins():
    for i in range(100):
        print("비트코인")

# 아래의 에러가 발생하는 이유에 대해 설명하라.

In [83]:
hello()
def hello():
    print("Hi")
#함수를 실행하기전 함수가 정의되어 있지 않기 때문

NameError: name 'hello' is not defined

# 아래 코드의 실행 결과를 예측하라.

In [87]:
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

# 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

In [88]:
print("A")

def message() :
    print("B")

print("C")
message()
#A
#C
#B

A
C
B

# 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

In [90]:
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

#A
#C
#B
#E
#D

A
C
B
E
D

# 아래 코드의 실행 결과를 예측하라.

In [91]:
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

#B
#A

B
A

# 아래 코드의 실행 결과를 예측하라.

In [93]:
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

B
C
B
C
B
C
A

NameError: name 'B' is not defined

# 함수의 호출 결과를 예측하라.

In [94]:
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")
#에러..?

안녕
Hi

# 함수의 호출 결과를 예측하라.

In [96]:
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

#34
#78

7
15

# 아래와 같은 에러가 발생하는 원인을 설명하라.

In [99]:
def 함수(문자열) :
    print(문자열)

함수()
#요소가 생략되어서
# 함수에 정의와 다르게 함수를 호출하고 있다. 함수를 호출할 때 하나의 파라미터를 입력해야한다.

TypeError: 함수() missing 1 required positional argument: '문자열'

# 아래와 같은 에러가 발생하는 원인을 설명하라.

In [101]:
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
# 정의된 함수는 같은 타입의 두 개의 값을 입력 받아 덧셈 연산을 적용하려는 의도로 설계됐습니다.
# 하지만 함수를 호출 할때 문자열과 숫자를 입력해서 문자열과 숫자는 더할 수 없다는 에러가 발생합니다.

TypeError: can only concatenate str (not "int") to str

# 하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [106]:
def print_with_smile(문자열):
    print(문자열,':D')

안녕하세요 :D

In [107]:
#answer
def print_with_smile (string) :
    print (string + ":D")

# 215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [108]:
print_with_smile("안녕하세요")

안녕하세요:D

# 현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [111]:
def print_upper_price(a):
    return a*1.3
print_upper_price(1000)

1300.0

# 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [112]:
def print_sum(a, b):
    return a+b
print_sum(3, 4)

7

# 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

In [114]:
def print_arithmetic_operation(a, b):
    return a+b
    return a-b
    return a*b
    return a/b
print_arithmetic_operation(3, 4)

7

In [115]:
def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)
print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

# 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [ ]:
def print_max(a, b, c):
    if

In [117]:
def print_max(a, b, c) :
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)
print_max(10, 3, 8)

10

# 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

In [119]:
def print_reverse(string):
    print(string[::-1])
print_reverse("python")

nohtyp

# 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

In [124]:
def print_score():
    result = 0
    for i in [*args]:
        result = result+i
    return result/len(args)
print_score ([1, 2, 3])

TypeError: print_score() takes 0 positional arguments but 1 was given

In [125]:
#answer
def print_score(score_list) :
    print(sum(score_list)/len(score_list))
print_score ([1, 2, 3])

2.0

# 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

In [126]:
def print_even(a):
    if a % 2 == 0:
        print(a)
print_even ([1, 3, 2, 10, 12, 11, 15])

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [127]:
def print_even (my_list) :
    for v in my_list :
        if v % 2 == 0 :
            print(v)
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

# 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

In [129]:
def print_keys(my_dict):
    for a in my_dict:
        print(a.keys())
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

AttributeError: 'str' object has no attribute 'keys'

In [130]:
def print_keys(dic):
    for keys in dic.keys():
        print(keys)
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

# my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.
my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

In [132]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(my_list, my_key):
    print(my_list(my_key))
print_value_by_key  (my_dict, "10/26")

TypeError: 'dict' object is not callable

In [133]:
def print_value_by_key (my_dict, key) :
    print(my_dict[key])
print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]