# print 기초
화면에 Hello World 문자열을 출력하세요.

In [3]:
print("Hello World")

Hello World

# print 기초
화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [4]:
print('Mary\'s cosmetics')

Mary's cosmetics

# print 기초
화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

신씨가 소리질렀다. "도둑이야".

In [5]:
print('신씨가 소리질렀다. \"도둑이야\".')

신씨가 소리질렀다. "도둑이야".

# print 기초
화면에 C:\Windows를 출력하세요.

In [14]:
print('C:\Windows')

C:\Windows

# print 탭과 줄바꿈
다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

print("안녕하세요.\n만나서\t\t반갑습니다.")

In [16]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n = 문장 줄바꿈
# \t 문장 내 탭

안녕하세요.
만나서		반갑습니다.

# print 여러 데이터 출력
print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

print ("오늘은", "일요일")

In [17]:
print ("오늘은", "일요일")

오늘은 일요일

# print 기초
print() 함수를 사용하여 다음과 같이 출력하세요.

naver;kakao;sk;samsung

In [19]:
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

# print 기초
print() 함수를 사용하여 다음과 같이 출력하세요.

naver/kakao/sk/samsung

In [20]:
print('naver/kakao/sk/samsung')

naver/kakao/sk/samsung

# print 줄바꿈
다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first");print("second")

In [37]:
print("first", end="");print("second")
# end = "" 이거 처음봐요....

firstsecond

# 연산 결과 출력
5/3의 결과를 화면에 출력하세요.

In [38]:
5/3

1.6666666666666667

# 011 변수 사용하기
삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [2]:
삼성전자 = 50000
총평가금액 = 삼성전자*10
print(총평가금액)

500000

# 012 변수 사용하기
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

In [3]:
시가총액 = 29800000000000
현재가 = 50000
PER = 15.79

In [6]:
# 문제 정답
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

# 문자열 출력
변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s = "hello"

t = "python"

두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예:
hello! python

In [27]:
s = "hello"
t = "python"

hello

In [28]:
#문제 정답
s = "hello"
t = "python"
print(s+"!", t)

hello! python

# 파이썬을 이용한 값 계산
아래 코드의 실행 결과를 예상해보세요.

In [29]:
2 + 2 * 3 
# 8..?

8

# type 함수
type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

a = 128

print (type(a))

<class 'int'>

아래 변수에 바인딩된 값의 타입을 판별해보세요.

a = "132"

In [31]:
a ="132"
print(a, type(a))

132 <class 'str'>

# 문자열을 정수로 변환
문자열 '720'를 정수형으로 변환해보세요.

In [36]:
a = '720'
print(type(a))
print(int(a))
print(type(int(a)))

<class 'str'>
720
<class 'int'>

# 정수를 문자열 100으로 변환
정수 100을 문자열 '100'으로 변환해보세요.

In [37]:
num = 100
print(num, type(num))
print(str(num), type(str(num)))

100 <class 'int'>
100 <class 'str'>

# 문자열을 실수로 변환
문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [38]:
a = "15.79"
print(a, type(a))
print(float(a), type(float(a)))

15.79 <class 'str'>
15.79 <class 'float'>

# 문자열을 정수로 변환
year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

In [39]:
year = "2020"
a = int(year)
print(a, a+1, a+2, a+3)

2020 2021 2022 2023

# 파이썬 계산
에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [40]:
에어컨 = 48584
총금액 = 에어컨*36
print(총금액)

1749024

# 문자열 인덱싱
letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

In [42]:
letters = 'python'
print(letters[0], letters[2])

p t

# 문자열 슬라이싱
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

In [43]:
license_plate = "24가 2210"
print(license_plate[4:])

2210

# 문자열 인덱싱
아래의 문자열에서 '홀' 만 출력하세요.

In [45]:
string = "홀짝홀짝홀짝"
print(string[0]+string[2]+string[4])

홀홀홀

In [47]:
# 문제 정답
# 슬라이싱할 때 `시작인덱스:끝인덱스:오프셋`을 지정할 수 있습니다.
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

# 문자열 슬라이싱
문자열을 거꾸로 뒤집어 출력하세요.

In [51]:
string = "PYTHON"
print(string[::-1])

NOHTYP

# 문자열 치환
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

In [55]:
phone_number = "010-1111-2222"
a = phone_number.replace("-", " ")
print(a)

010 1111 2222

# 문자열 다루기
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

In [58]:
b = phone_number.replace("-", "")
print(b)

01011112222

# 문자열 다루기
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

In [62]:
url = "http://sharebook.kr"
print(url[-2:])

kr

In [63]:
# 문제 정답
url_split = url.split('.')
print(url_split[-1])

kr

# 문자열은 immutable
아래 코드의 실행 결과를 예상해보세요.

In [64]:
lang = 'python'
lang[0] = 'P'
print(lang)
# Python X -> 문자열은 수정할 수가 없습니다!

TypeError: 'str' object does not support item assignment

# replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

In [66]:
string = 'abcdfe2a354a32a'
string.replace('a', 'A')
print(string.replace('a', 'A'))

Abcdfe2A354A32A

# replace 메서드
아래 코드의 실행 결과를 예상해보세요.

In [67]:
string = 'abcd'
string.replace('b', 'B')
print(string)
#aBcd

abcd

# 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.

In [68]:
a = "3"
b = "4"
print(a + b)
#34

34

# 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.

In [70]:
print("Hi" * 3)
#HiHiHi

HiHiHi

# 문자열 곱하기
화면에 '-'를 80개 출력하세요.

In [71]:
print('-'*80)

--------------------------------------------------------------------------------

# 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

In [87]:
t1 = 'python'
t2 = 'java'
# 실행 예: python java python java python java python java
t3 = (t1, t2)

In [88]:
# 문제 정답
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

# 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

In [89]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

In [94]:
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [95]:
# 문제 정답
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [96]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {0} 나이: {1}".format(name1, age1))
print("이름: {0} 나이: {1}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [97]:
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

In [99]:
상장주식수 = "5,969,782,550"
a = 상장주식수.replace(",", "")
print(int(a),type(int(a)))

5969782550 <class 'int'>

# 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.

In [102]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

# strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

In [104]:
data = "   삼성전자    "
print(data.strip())

삼성전자